<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>hello-jetty</display-name>
	
<!-- 	<welcome-file-list> -->
<!-- 		<welcome-file>jetty_home_html.html</welcome-file> -->
<!-- 	</welcome-file-list> -->
	
	<servlet>
		<servlet-name>jetty</servlet-name>
		<servlet-class>jetty.servlet.JettyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jetty</servlet-name>
		<url-pattern>/t.do</url-pattern>
	</servlet-mapping>

</web-app>